                        <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<title>Admin</title>
<link href="../static/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" type="text/css" />
<link href="../static/vendor/font-awesome/css/font-awesome.min.css"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" media="screen" type="text/css" />
<link href="../static/css/admin.css" th:href="@{/css/admin.css}"
	rel="stylesheet" media="screen" type="text/css" />

</head>

<body class="home">
	<div class="container-fluid display-table">
		<div class="row display-table-row">
			<div
				class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box"
				id="navigation">
				<div class="logo">
					<a href="/"><img src="/img/profile.png" alt="logo"
						class="hidden-xs hidden-sm"></img></a>
				</div>
				<div class="navi">
					<ul>
						<li><a href="/admin"><i class="fa fa-home"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
						<li><a th:href="@{/admin/opere}"><i
								class="fa fa-file-image-o" aria-hidden="true"></i><span
								class="hidden-xs hidden-sm">Opere</span></a></li>
						<li><a th:href="@{/admin/stanze}"><i class="fa fa-map-o"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Stanze</span></a></li>
						<li class="active"><a th:href="@{/admin/autori}"><i
								class="fa fa-user" aria-hidden="true"></i><span
								class="hidden-xs hidden-sm">Autori</span></a></li>
						<li><a href="#"><i class="fa fa-plus-circle"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Aggiungi
									Admin</span></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10 col-sm-11 display-table-cell v-align">
				<!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
				<div class="row">
					<header>
						<div class="col-md-7">
							<nav class="navbar-default pull-left">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed"
										data-toggle="offcanvas" data-target="#side-menu"
										aria-expanded="false">
										<span class="sr-only">Toggle navigation</span> <span
											class="icon-bar"></span> <span class="icon-bar"></span> <span
											class="icon-bar"></span>
									</button>
								</div>
							</nav>
							<div class="search hidden-xs hidden-sm">Galleria D'Arte -
								Inscerisci Autore</div>
						</div>
						<div class="col-md-5">
							<div class="header-rightside">
								<ul class="list-inline header-top pull-right">
									<li><i class="fa fa-user" aria-hidden="true"></i></li>
									<li>Username</li>
									<li>Email</li>
									<li>
										<form th:action="@{/logout}" method="post">
											<input class="btn btn-primary" type="submit" value="Sign Out" />
										</form>
									</li>
								</ul>
							</div>
						</div>
					</header>
				</div>
				<div class="container">
					<form th:action="@{/admin/autore/inserisci}" th:object="${autore}"
						method="post" class="form-horizontal" role="form">
						<fieldset>
							<legend>Autore</legend>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span
									th:text="#{label.nome}">Nome: </span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" th:field="*{nome}"
										placeholder="Nome" /><span
										th:if="${#fields.hasErrors('nome')}"
										th:text="#{label.mandatory}">Error</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span
									th:text="#{label.cognome}">Cognome: </span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" th:field="*{cognome}"
										placeholder="Cognome" /><span
										th:if="${#fields.hasErrors('cognome')}"
										th:text="#{label.mandatory}">Error</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span
									th:text="#{label.nazionalita}">Nazionalità: </span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										th:field="*{nazionalita}" placeholder="Nazionalità" /><span
										th:if="${#fields.hasErrors('nazionalita')}"
										th:text="#{label.mandatory}">Error</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span
									th:text="#{label.dataNascita}">AnnoNascita: </span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control"
										th:field="*{dataNascita}" placeholder="gg/mm/aaaa" /><span
										th:if="${#fields.hasErrors('dataNascita')}"
										th:text="#{label.date}">Error</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label"><span
									th:text="#{label.dataMorte}">AnnoMorte: </span></label>
								<div class="col-sm-4">
									<input type="text" class="form-control" th:field="*{dataMorte}"
										placeholder="gg/mm/aaaa" /><span
										th:if="${#fields.hasErrors('dataMorte')}"
										th:text="#{label.date}">Error</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-offset-4 col-sm-9">
									<button type="submit" class="btn btn-success">Inserisci
										Autore</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>

	</div>



	<!-- Modal -->
	<div id="add_project" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header login-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title">Add Project</h4>
				</div>
				<div class="modal-body">
					<input type="text" placeholder="Project Title" name="name"></input>
					<input type="text" placeholder="Post of Post" name="mail"></input>
					<input type="text" placeholder="Author" name="passsword"></input>
					<textarea placeholder="Desicrption"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="cancel" data-dismiss="modal">Close</button>
					<button type="button" class="add-project" data-dismiss="modal">Save</button>
				</div>
			</div>

		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function() {
			$('[data-toggle="offcanvas"]').click(function() {
				$("#navigation").toggleClass("hidden-xs");
			});
		});
	</script>
	<script th:src="@{../vendor/bootstrap/js/bootstrap.min.js}">...</script>

</body>
</html>