<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Hai inserito:</h1>
	<div>
    	<p>
    	<span th:text="#{label.nome}">Nome: </span>  <b><span th:text="${opera.nome}" ></span></b>
    	</p>
    </div>
	<div>
	    <p>
    	<span th:text="#{label.descrizione}">Descrizione: </span>  <b><span th:text="${opera.descrizione}" ></span></b>
   		</p> 
    </div>
	<div>
		<p>
    	<span th:text="#{label.anno}">Anno: </span>  <b><span th:text="${opera.anno}" ></span></b>	
		</p>    
    </div>

<form action="#" th:action="@{/admin/opera/inserisci}" method="get">
<button type="submit">Torna alla form</button>
</form>


</body>
</html>