<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Admin - Autori</title>
<link href="../static/vendor/bootstrap/css/bootstrap.min.css"
	th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"
	media="screen" type="text/css" />
<link href="../static/vendor/font-awesome/css/font-awesome.min.css"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" media="screen" type="text/css" />
<link href="../static/css/admin.css" th:href="@{/css/admin.css}"
	rel="stylesheet" media="screen" type="text/css" />
<link href="../static/css/table.css" th:href="@{/css/table.css}"
	rel="stylesheet" media="screen" />
</head>

<body class="home">
	<div class="container-fluid display-table">
		<div class="row display-table-row">
			<div
				class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box"
				id="navigation">
				<div class="logo">
					<a href="/"><img src="/img/profile.png" alt="logo"
						class="hidden-xs hidden-sm"></img> </a>
				</div>
				<div class="navi">
					<ul>
						<li><a href="/admin"><i class="fa fa-home"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
						<li class="active"><a th:href="@{/admin/opere}"><i
								class="fa fa-file-image-o" aria-hidden="true"></i><span
								class="hidden-xs hidden-sm">Opere</span></a></li>
						<li><a th:href="@{/admin/stanze}"><i class="fa fa-map-o"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Stanze</span></a></li>
						<li><a th:href="@{/admin/autori}"><i class="fa fa-user"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Autori</span></a></li>
						<li><a href="#"><i class="fa fa-plus-circle"
								aria-hidden="true"></i><span class="hidden-xs hidden-sm">Aggiungi
									Admin</span></a></li>
						<li><div class="bottom"></div></li>
					</ul>
				</div>
			</div>
			<div class="col-md-10 display-table-cell v-align">
				<div class="row">
					<header>
						<div class="col-md-7">
							<nav class="navbar-default pull-left">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed"
										data-toggle="offcanvas" data-target="#side-menu"
										aria-expanded="false">
										<span class="sr-only">Toggle navigation</span> <span
											class="icon-bar"></span> <span class="icon-bar"></span> <span
											class="icon-bar"></span>
									</button>
								</div>
							</nav>
							<div class="search hidden-xs hidden-sm">Galleria D'Arte -
								Pagina Admin</div>
						</div>
						<div class="col-md-5">
							<div class="header-rightside">
								<ul class="list-inline header-top pull-right">
									<li><i class="fa fa-user" aria-hidden="true"></i></li>
									<li>Username</li>
									<li>Email</li>
									<li>
										<form th:action="@{/logout}" method="post">
											<input class="btn btn-primary" type="submit" value="Log Out" />
										</form>
									</li>
								</ul>
							</div>
						</div>
					</header>
				</div>
				<div class="row col-md-10 col-md-offset-2 user-dashboard">
					<form action="#" th:action="@{/admin/opera/inserisci}" th:object="${opera}"
						method="post">
						<div>
							<div>
								<span th:text="#{label.nome}">Nome: </span> <span><input
									type="text" th:field="*{nome}" /></span> <span
									th:if="${#fields.hasErrors('nome')}"
									th:text="#{label.mandatory}">Error</span>
							</div>
							<div>
								<span th:text="#{label.descrizione}">Descrizione: </span> <span><input
									type="text" th:field="*{descrizione}" /></span> <span
									th:if="${#fields.hasErrors('descrizione')}"
									th:text="#{label.mandatory}">Error</span>
							</div>
							<div>
								<span th:text="#{label.anno}">Anno: </span> <span><input
									type="text" th:field="*{anno}" /></span> <span
									th:if="${#fields.hasErrors('anno')}" th:text="#{label.number}">Error</span>
							</div>
							<div>
								<span th:text="#{label.lunghezza}">Lunghezza: </span> <span><input
									type="text" th:field="*{lunghezza}" /></span> <span
									th:if="${#fields.hasErrors('lunghezza')}" th:text="#{label.number}">Error</span>
							</div>
							<div>
								<span th:text="#{label.altezza}">Altezza: </span> <span><input
									type="text" th:field="*{altezza}" /></span> <span
									th:if="${#fields.hasErrors('altezza')}" th:text="#{label.number}">Error</span>
							</div>
							<div>
								<span th:text="#{label.immagine}">Immagine: </span> 
								<span><input type="text" th:field="*{imgURL}" /></span> <span
									th:if="${#fields.hasErrors('imgURL')}" th:text="#{label.mandatory}">Error</span>
							</div>
							<div>
								<span th:text="#{label.autore}">Autore: </span> 
								<select th:field="*{autore}">
									<th:foreach th:each="autore: ${autori}">
										<option th:value="${autore.id}" th:text="${autore.nome}"></option>
									</th:foreach>
								</select>
							</div>	
							<div>
								<span th:text="#{label.stanze}">Stanze: </span> 
								<select th:field="*{stanza}">
									<th:foreach th:each="stanza: ${stanze}">
										<option th:value="${stanza.id}" th:text="${stanza.nome}"></option>
									</th:foreach>
								</select>
							</div>		
							
							<div>
								<span><input class="btn btn-primary" type="submit" value="Invia"></input></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<script th:inline="javascript">
		$(document).ready(function() {
			$('[data-toggle="offcanvas"]').click(function() {
				$("#navigation").toggleClass("hidden-xs");
			});
		});
	</script>
	<script th:src="@{../vendor/bootstrap/js/bootstrap.min.js}">...</script>
</body>
</html>