<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>>Login</title>
<link href="../static/css/login.css" th:href="@{/css/login.css}"
	rel="stylesheet" media="screen" />
<link href="../static/vendor/font-awesome/css/font-awesome.min.css"
	th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" media="screen" />
</head>
<body>
	<div class="main">
		<div class="container">
			<div class="middle">
				<div id="login">
					<form th:action="@{/admin/registraAdmin}" th:object="${admin}" method="post">
                        <p>
                            <span class="fa fa-user"></span> 
                            <input type="text"
                                name="username" th:field="*{username}" placeholder="username"></input>
                            <span th:if="${#fields.hasErrors('username')}"
                                th:text="#{label.mandatory}">Error</span>
                        </p>
                        <p>
                            <span class="fa fa-lock"></span><input type="password"
                                th:field="*{password}" name="password" placeholder="password"></input>
                            <span th:if="${#fields.hasErrors('password')}"
                                th:text="#{label.mandatory}">Error</span>
                        </p>
                        <p>
                            <span class="fa fa-map"></span><input type="text" name="nome"
                                th:field="*{nome}" placeholder="nome"></input> <span
                                th:if="${#fields.hasErrors('nome')}"
                                th:text="#{label.mandatory}">Error</span>
                        </p>
                        <p>
                            <span class="fa fa-user"></span><input type="text" name="cognome"
                                th:field="*{cognome}" placeholder="cognome"></input> <span
                                th:if="${#fields.hasErrors('cognome')}"
                                th:text="#{label.mandatory}">Error</span>
                        </p>
                        <p>
                            <span class="fa fa-user"></span><input type="text" name="email"
                                th:field="*{email}" placeholder="email"></input> <span
                                th:if="${#fields.hasErrors('email')}"
                                th:text="#{label.mandatory}">Error</span>
                        </p>
                        <span style="width: 50%; text-align: left; float: left;"><input
                            type="submit" value="Registrati"></input></span>
                    </form>

					<form action="/">
						<span style="width: 50%; text-align: right;"><input
							type="submit" value="Indietro"></input></span>
					</form>
				</div>
				<!--  end login -->
				<div class="logo">Galleria</div>
			</div>
			<!-- end middle -->
		</div>
		<!-- end container -->
	</div>
	<!-- end main -->
</body>
</html>